<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
    <% list.forEach(function(book){ %>
    </p><%= book.title %></p>
  </p><%= book.authors %></p>
  </p><%= book.description %></p>
  </p><img src= <%= book.image %> </p>


    <% }); %>
</body>
</html>