<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;">

  <title>Book Finder</title>
  <link rel="stylesheet" type="text/css" href='styles/base.css'>

</head>
<body>
  <h1>Best Books!</h1>
  <h3>Search By title Or Author</h3>
  <form action='/searches' method='post'>
      <input type='text' placeholder="title" name='searchQuery'>
      <input class="title" type="radio" name="search" value="title" >
      <label>title</label>
      <input class="authors" type="radio" name="search" value="authors">
      <label>Author</label>
    <input class="button" type='submit'>
  </form>
  

  
</body>
</html>