<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;"> -->
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
  <title>Book Finder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href='styles/base.css'>
  </head>

<body>
  <div class="container-fluid padding">
    <h1>Search for your favorite book!</h1>
  <form action='/searches' method='post' class = "shadow rounded">
      <div class="form-group">
        <label for="searchQuery">Keyword Search</label>
        <input type="text" class="form-control half" name='searchQuery' id="searchQuery" aria-describedby="queryHelp" placeholder="Please enter a keyword.">
      </div>
      <div class = "row">
      <div class='form-group col-6'>
      <div class="form-check form-check-inline">
        <label for="inlineRadio1" class="form-check-label">Title</label>
        <input type="radio" name="search" value="title" class="form-check-input" id="inlineRadio1"  value="title">
      </div>
    </div>
    <div class='form-group col-6'>
      <div class="form-check form-check-inline">
          <label for="inlineRadio2" class="form-check-label"  value="authors">Author</label>
        <input  type="radio" name="search" value="authors" class="form-check-input" id="inlineRadio2">
    </div>
  </div>
  </div>
      <button type="submit" class="btn btn-danger btn-lg">Submit</button>
    </form>











  <!-- ================= -->
</div> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>