<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Finder</title>
  <link rel="stylesheet" type="text/css" href='styles/base.css'>

</head>
<body>
  <h1>Best Books!</h1>
  <h3>Search By title Or Author</h3>
  <form action='/' method='post'>
      <input type='text' placeholder="title" name='Enter a title or author'>
      <input class="title" type="radio" name="title" value="title" checked>
      <label>title</label>
      <input class="author" type="radio" name="author" value="author">
      <label>Author</label>
    <input class="button" type='submit'>
  </form>
  

  
</body>
</html>