<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Finder</title>
  <link rel="stylesheet" type="text/css" href='styles/base.css'>

</head>
<body>
  <h1>Hello World</h1>
  <form action='/' method='post'>
      <input type='text' placeholder="title" name='title'>
      <input type='text' placeholder="author" name='title'>
    <input type='submit'>
  </form>
  

  
</body>
</html>