body {
  background-color: #333; 
  padding: 5%; 
}
h1 {
  font-size: 25px; 
}
form {
  margin: auto; 
  width: 50%; 
  background-color: #fff; 
  padding: 50px; 
  text-align: center;
  }

 .bookform {
   display: none; 
  }
input {
  padding: 10px;
 box-sizing: border-box;
}
form label {
  font-size: 20px; 
  margin-right: 6px; 
}
.button {
  width: 200px; 
  border: 2px solid #333; 
  background-color: transparent;
  height: 40px; 
}
.padding {
  padding: 5%; 
}
